body {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    color: #114422;
}

header, footer {
    background: #228833;
    color: white;
    padding: 3rem 0;
    text-align: center;
}

h1 {
    font-family: 'Alfa Slab One', cursive;
    text-rendering: optimizeLegibility;
    letter-spacing: 1;
    font-size: 4rem;
}

h2 {
    text-rendering: geometricPrecision;
}

main {
    padding: 2rem 3rem;
}

nav ul { padding: 0; }
nav li { list-style: none; }
nav a { color: white;}